#container {

    display: flex;
    flex-direction: column;
    justify-items: center;

    background-color: var(--black-5);

    max-width: 520px;

    border-radius: 8px;

    border: 4px solid var(--black-5);

}

#container>* {

    width: inherit;

}

#classification_heading h2{

    font-size: var(--fs-h5);

    color: var(--black-50);

    text-decoration: underline;

    margin: 0 16px;
    margin-top: 8px;

}

#card_heading_tittle_wrapper h3 a {
    display: block;
    font-size: var(--fs-small-1);
    text-align: center;
    color: var(--primary-color);
}

#card_heading_tittle_wrapper p {
    font-size: var(--fs-small-2);
    text-align: center;
}

#visitors_container {

    margin: 16px auto;

    max-width: fit-content;

    padding: 8px;
}

#visitors_container p {

    text-align: center;

    display: flex;
    flex-direction: column;

    background-color: var(--white-100);
    border-radius: 4px;

    height: fit-content;

    padding: 12px;

    font-size: var(--fs-h5);
    color: var(--primary-color);

}

#visitors_container span {

    margin-top: 8px;

    color: var(--black-75);
    
    display: block;
    text-align: center;

    font-size: var(--fs-small-2);

    font-weight: bold;

}

#card_footer_wrapper {

    display: flex;
    flex-direction: column;
    justify-items: center;

}

#link {

    width: 90%;

    text-align: center;

    padding: 8px;

    background-color: var(--primary-color);

    border-radius: 4px;

    margin: 16px;

    font-size: var(--fs-small-1);

    color: var(--white-100);

    font-weight: 500;
}

#link:hover {

    transition: all ease-in-out 200ms;

    box-shadow: 1px 1px 1px 1px var(--black-25);

}

#card_footer_wrapper  {

    margin-bottom: 16px;

}

#card_footer_wrapper small{

    text-align: center;
    font-size: var(--fs-small-2);

}

.color_black {

    color: var(--black-75);

}

.color_primary {

    color: var(--primary-color);

}