#container {

    padding: 16px;

    background-color: var(--white-100);

}

#links_container {

    margin: auto;

    max-width: 1120px;

}

#links_container h6 {

    margin-bottom: 16px;

    font-size: var(--fs-small-1);

    font-weight: 400;

    color: #4a2e83;

}

#links_container ul {

    display: grid;
    gap: 8px;

}

#links_container li * {

    font-size: var(--fs-small-2);

    font-weight: 500;

    color: var(--black-50);

}

#links_container li *:hover {

    transition: all ease-in-out 100ms;

    color: var(--black-75);

}

#container small {

    margin-top: 64px;

    font-size: var(--fs-small-2);

    color: #4a2e83;

    display: block;
    text-align: center;

}